#memberpage {
  width: 100%;
  display: flex;
  justify-content: center;
}
#memberpage > div {
  padding: 20px;
}
#gathercomponentp {
  width: 65%;
  height: 300px;
  overflow-x: scroll;
}
#component1 {
  width: 35%;
  height: 500px;
  background-color: gray;
}