.topbar {
  user-select: none;
  position: fixed;
  top: 0px; left: 0px;
  height: 65px;
  width: calc(100% - 60px);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(1,4,19,.5);
  box-shadow: 0 1px 10px rgba(0,0,0,0.3);
  z-index: 10;
  padding: 0 30px;
  transition-property: backdrop-filter, background, -webkit-backdrop-filter;
  transition-duration: 0.4s, 0.4s, 0.4s;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, 0s, 0s;
}
.blank {
  height: 65px;
}
#SFHomep {
  height: 100%;
}
#SFHome {
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#SFHome > span {
  color: rgb(255, 226, 66);
  font-size: 20px;
}
