#registerpage {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
#registermodulep {
  width: 80%;
  display: flex;
  flex-direction: row;
  margin-top: 80px;
}
#registermodule {
  width: 100%;
  max-width: 390px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
#registertxt {
  margin-bottom: 20px;
  user-select: none;
}
#registertxt > span {
  font-size: 25px;
  color: #fff
}
#registerinputform {
  width: 100%;
}
.doubleformpassword {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.doubleformstartfrom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.MuiPaper-root ul{
  color: black;
}